{% extends "base.html" %}

{% block static %}
 <meta name="viewport" content="width=device-width, initial-scale=1">


 <link href="/media/default/bootstrap.min.css" rel="stylesheet">

{% endblock %}

{% block content %}
<br>
{% if user.is_superuser %}




       <div class="container" style="font-family: 'IBM Plex Sans KR', sans-serif;  ">
        <form method="post" enctype="multipart/form-data">

        {% csrf_token %}

            <div class="my-3 p-3 bg-body rounded shadow-sm">

                <h2 style="font-weight: 600; color:black;">공동연습실 / 동아리방 관리자 신청</h2>
                <br>
                <p class="h7">연습실, 날짜, 시간, 사용단체/동아리명 칸은 필수로 입력해야 하고, 나머지 빈칸은 입력하지 않아도 진행이 가능합니다.</p>
                <p class="h7">관리자 신청의 경우 예약이 중복되더라도 무시하며, 신청 즉시 사용 승인 처리됩니다. </p>
                사용단체 / 동아리명
                <div class="mb-3">
                    <input name="user_name" maxlength="100" class="form-control col-4" type="text" placeholder="사용단체 / 동아리명" aria-label=".form-control-sm example" required id="id_title">
                </div>

                연습실
                <div class="mb-3 col-md-9 col-9">
                    <select class="form-select" aria-label=".form-select-lg example" name="room">
                {% for i in room %}
                    <option value={{i.name}}>{{i.name}}</option>
                {% endfor %}
                    </select>
                    </div>

                    <label for="datePicker" >날짜</label>
                    <input name="reserve_date" type="date" id="datePicker" min="" max="" onchange="handleDateChange()">

            <br><br>
                시간
                <div class="mb-3 col-md-9 col-9">
                    <select class="form-select" aria-label=".form-select-lg example" name="reserve_time">
                        <option selected value="1">9:00 ~ 10:00</option>
                        <option value="2">10:00 ~ 11:00</option>
                        <option value="3">11:00 ~ 12:00</option>
                         <option value="4">12:00 ~ 13:00</option>
                         <option value="5">13:00 ~ 14:00</option>
                         <option value="6">14:00 ~ 15:00</option>
                         <option value="7">15:00 ~ 16:00</option>
                         <option value="8">16:00 ~ 17:00</option>
                         <option value="9">17:00 ~ 18:00</option>
                         <option value="10">18:00 ~ 19:00</option>
                         <option value="11">19:00 ~ 20:00</option>
                         <option value="12">20:00 ~ 21:00</option>
                         <option value="13">21:00 ~ 22:00</option>

                    </select>
                </div>



신청자명
                  <div class="mb-3">
                    <input name="user_id" maxlength="100" class="form-control col-4" type="text" placeholder="신청자명" aria-label=".form-control-sm example">
                </div>
전화번호
                    <div class="mb-3">
                    <input name="user_tel" maxlength="100" class="form-control col-4" type="text" placeholder="전화번호" aria-label=".form-control-sm example">
                </div>
이메일
                    <div class="mb-3">
                    <input name="user_email" maxlength="100" class="form-control col-4" type="text" placeholder="이메일" aria-label=".form-control-sm example">
                </div>


             사용 계획
                  <div class="mb-3">
                    <input name="reserve_desc_1" maxlength="100" class="form-control col-4" type="text" placeholder="사용 목적과 계획을 구체적으로 입력해 주세요. 예) OOOO 정기 리허설, OOOO 정기 총회" aria-label=".form-control-sm example">
                </div>
        사용 성격
                    <div class="mb-3">
                    <input name="reserve_desc_2" maxlength="100" class="form-control col-4" type="text" placeholder="예) 리허설, 컨퍼런스 등" aria-label=".form-control-sm example">
                </div>
        사용 인원
                    <div class="mb-3">
                    <input name="reserve_num" maxlength="100" class="form-control col-4" type="number" placeholder="대략적인 사용 예정 인원을 숫자로만 입력해 주세요." aria-label=".form-control-sm example">
                </div>
        특이사항
        <div class="mb-3">
                    <input name="reserve_desc_3" maxlength="100" class="form-control col-4" type="text" placeholder="반입장비가 있는 경우, 비상연락망 등" aria-label=".form-control-sm example">
                </div>



            </div>






            <div style="float:right">

                <button class="btn btn-primary" type="submit">저장</button>
            </div>

        </form>



    </div>


    <br><br>

<script>
<!--  // 오늘 날짜 가져오기-->
<!--  var today = new Date();-->

<!--  // 내일 날짜 설정-->
<!--  var tomorrow = new Date(today);-->
<!--  tomorrow.setDate(today.getDate() + 1);-->

<!--  // 30일 후 날짜 설정-->
<!--  var thirtyDaysLater = new Date(today);-->
<!--  thirtyDaysLater.setDate(today.getDate() + 30);-->

<!--  // 날짜 형식 조정 (YYYY-MM-DD)-->
<!--  function formatDate(date) {-->
<!--    var yyyy = date.getFullYear();-->
<!--    var mm = String(date.getMonth() + 1).padStart(2, '0');-->
<!--    var dd = String(date.getDate()).padStart(2, '0');-->
<!--    return yyyy + '-' + mm + '-' + dd;-->
<!--  }-->


<!--  // input 요소에 min과 max 속성 설정-->
<!--  var datePicker = document.getElementById('datePicker');-->
<!--  if (datePicker) {-->
<!--    var validDates = getValidDates(tomorrow, thirtyDaysLater);-->
<!--    var minDate = validDates[0];-->
<!--    var maxDate = validDates[validDates.length - 1];-->

<!--    datePicker.min = formatDate(minDate);-->
<!--    datePicker.max = formatDate(maxDate);-->
<!--  } else {-->
<!--    console.error("Element with id 'datePicker' not found.");-->
<!--  }-->

<!--  // 날짜 변경 이벤트 핸들러-->
<!--  function handleDateChange() {-->
<!--    var selectedDate = datePicker.value;-->
<!--    console.log("선택된 날짜:", selectedDate);-->
<!--        var selectedDay = new Date(selectedDate).getDay();-->
<!--    console.log("선택된 요일:", selectedDay);-->
<!--    // 여기에 추가로 실행하고자 하는 기능을 추가할 수 있습니다.-->
<!--  }-->

<!--     function handleButtonClick() {-->

<!--         var selectedDate = document.getElementById("datePicker").value;-->

<!--        // Update URL and navigate to the new page-->
<!--        var currentUrl = window.location.href;-->
<!--        var newUrl = currentUrl + '/' + selectedDate;-->
<!--        window.location.href = newUrl;-->
<!--    }-->

</script>

        <script src="/media/default/bootstrap.bundle.min.js"></script>



{% else %}

<script>

    alert('권한이 없습니다. 로그인 후 이용해주세요.')
    window.history.back()
</script>

{% endif %}
{% endblock %}