{% extends "base.html" %}

{% block static %}


{% endblock %}

{% block content %}

  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script>
    $(document).ready(function() {
      var reserveValues = {{ reserve_value|safe }};

        if ({{weekday}} === 6){
            for(var i = 1; i<=13; i++){
                var button = $("#button" + i);
                button.removeClass("btn-primary").addClass("btn-secondary");
                button.prop("disabled", true);
            }
        }
      reserveValues.forEach(function(value) {
        var button = $("#button" + value);
        button.removeClass("btn-primary").addClass("btn-secondary");
        button.prop("disabled", true);
      });
    });
  </script>

 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/dashboard/">
<br>

<div class="container" style="font-family: 'IBM Plex Sans KR', sans-serif;  " id="main01">



        <div class="my-3 p-3 bg-body rounded shadow-sm">


            <h2 style="font-weight: 600; color:black;">{{room_name}} 신청({{date}})</h2>

            <hr>

            <h7>
                - 신청 동아리 : {{ user.username }} <br>
                - 동아리 대표자 : {{ user.first_name }} <br>
                - 연락처 : {{ user.phone_number }} <br>

            </h7>
            <br><br>
             <h4 style="color:black;">주의사항</h4>

            <hr>

            <h7>
                - 위 정보가 정확한지 확인 후 신청해야 하며, 빈칸이 있거나 올바르지 않은 정보가 있을 경우 <a href="/common/mypage1">회원정보 수정</a> 페이지에서 수정 후 신청해야 합니다.<br>

                - 신청이 완료되기 전 다른 단체에서 시간대를 먼저 신청한 경우 해당 시간대는 신청할 수 없으며, 예약되지 않습니다.<br>

            </h7>




        </div>


    </div>




    <div class="container" id="main02">
        <div class="my-3 p-3 bg-body rounded shadow-sm">
           시간 선택



<div class="container mt-4 text-center">
    <div class="row">
        <div class="col-md-3">
            <button id="button1" type="button" class="btn btn-primary btn-block" onclick="window.open('./{{date}}/1', '_self')" style="margin : 5px;">9:00 ~ 10:00</button>
        </div>
        <div class="col-md-3">
            <button id="button2" type="button" class="btn btn-primary btn-block" onclick="window.open('./{{date}}/2', '_self')" style="margin : 5px;">10:00 ~ 11:00</button>
        </div>
        <div class="col-md-3">
            <button id="button3" type="button" class="btn btn-primary btn-block" onclick="window.open('./{{date}}/3', '_self')" style="margin : 5px;">11:00 ~ 12:00</button>
        </div>
        <div class="col-md-3">
            <button id="button4" type="button" class="btn btn-primary btn-block" onclick="window.open('./{{date}}/4', '_self')" style="margin : 5px;">12:00 ~ 13:00</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <button id="button5" type="button" class="btn btn-primary btn-block" onclick="window.open('./{{date}}/5', '_self')" style="margin : 5px;">13:00 ~ 14:00</button>
        </div>
        <div class="col-md-3">
            <button id="button6" type="button" class="btn btn-primary btn-block" onclick="window.open('./{{date}}/6', '_self')" style="margin : 5px;">14:00 ~ 15:00</button>
        </div>
        <div class="col-md-3">
            <button id="button7" type="button" class="btn btn-primary btn-block" onclick="window.open('./{{date}}/7', '_self')" style="margin : 5px;">15:00 ~ 16:00</button>
        </div>
        <div class="col-md-3">
            <button id="button8" type="button" class="btn btn-primary btn-block" onclick="window.open('./{{date}}/8', '_self')" style="margin : 5px;">16:00 ~ 17:00</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <button id="button9" type="button" class="btn btn-primary btn-block" onclick="window.open('./{{date}}/9', '_self')" style="margin : 5px;">17:00 ~ 18:00</button>
        </div>
        <div class="col-md-3">
            <button id="button10" type="button" class="btn btn-primary btn-block" onclick="window.open('./{{date}}/10', '_self')" style="margin : 5px;">18:00 ~ 19:00</button>
        </div>
        <div class="col-md-3">
            <button id="button11" type="button" class="btn btn-primary btn-block" onclick="window.open('./{{date}}/11', '_self')" style="margin : 5px;">19:00 ~ 20:00</button>
        </div>
        <div class="col-md-3">
            <button id="button12" type="button" class="btn btn-primary btn-block" onclick="window.open('./{{date}}/12', '_self')" style="margin : 5px;">20:00 ~ 21:00</button>
        </div>
    </div>

     <div class="row">
        <div class="col-md-3">
            <button id="button13" type="button" class="btn btn-primary btn-block" onclick="window.open('./{{date}}/13', '_self')" style="margin : 5px;">21:00 ~ 22:00</button>
        </div>

    </div>

</div>

</div></div>
<br>

<script>
  // 오늘 날짜 가져오기
  var today = new Date();

  // 내일 날짜 설정
  var tomorrow = new Date(today);
  tomorrow.setDate(today.getDate() + 1);

  // 30일 후 날짜 설정
  var thirtyDaysLater = new Date(today);
  thirtyDaysLater.setDate(today.getDate() + 30);

  // 날짜 형식 조정 (YYYY-MM-DD)
  function formatDate(date) {
    var yyyy = date.getFullYear();
    var mm = String(date.getMonth() + 1).padStart(2, '0');
    var dd = String(date.getDate()).padStart(2, '0');
    return yyyy + '-' + mm + '-' + dd;
  }

  // 특정 날짜 범위에서 모든 일요일을 찾아서 제외
  function getValidDates(startDate, endDate) {
    var validDates = [];
    var currentDate = new Date(startDate);

    while (currentDate <= endDate) {
      if (currentDate.getDay() !== 0) { // 일요일이 아닌 경우에만 추가
        validDates.push(new Date(currentDate));
      }
      currentDate.setDate(currentDate.getDate() + 1);
    }

    return validDates;
  }

  // input 요소에 min과 max 속성 설정
  var datePicker = document.getElementById('datePicker');
  if (datePicker) {
    var validDates = getValidDates(tomorrow, thirtyDaysLater);
    var minDate = validDates[0];
    var maxDate = validDates[validDates.length - 1];

    datePicker.min = formatDate(minDate);
    datePicker.max = formatDate(maxDate);
  } else {
    console.error("Element with id 'datePicker' not found.");
  }

  // 날짜 변경 이벤트 핸들러
  function handleDateChange() {
    var selectedDate = datePicker.value;
    console.log("선택된 날짜:", selectedDate);
        var selectedDay = new Date(selectedDate).getDay();
    console.log("선택된 요일:", selectedDay);
    // 여기에 추가로 실행하고자 하는 기능을 추가할 수 있습니다.
  }

     function handleButtonClick() {

         var selectedDate = document.getElementById("datePicker").value;

        // Update URL and navigate to the new page
        var currentUrl = window.location.href;
        var newUrl = currentUrl + selectedDate;
        window.location.href = newUrl;
    }

</script>




        <script src="/media/default/bootstrap.bundle.min.js"></script>
        <script src="/media/default/cheatsheet.css"></script>
  <script src="/media/default/dashboard.css"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

{% endblock %}